
// solid gradients
@mixin gradient--solid-purple-lagunita {
  background: linear-gradient(91.01deg, $su-color-purple 3.46%, $su-color-lagunita 95.48%);
}

@mixin gradient--solid-purple-green {
  background: linear-gradient(91.01deg, $su-color-bright-purple 3.46%, #su-color-bright-palo-alto 95.48%);
}

// transparent gradients
@mixin gradient--transparent-purple-lagunita {
  background: linear-gradient(91.01deg, rgba($su-color-bright-purple, 0.9) 3.47%, rgba($su-color-lagunita, 0.8) 95.48%);
}

@mixin gradient--transparent-purple-green {
  background: linear-gradient(89.49deg, rgba($su-color-bright-purple, 0.9) 0.24%, rgba(su-color-bright-palo-alto, 0.8) 102.73%);
}

@mixin gradient--transparent-purple-red {
  background: linear-gradient(270.22deg, $su-color-bright-purple 0.12%, rgba($su-color-bright-red, 0.8) 99.89%);
  transform: rotate(-180deg);
}

@mixin gradient--transparent-blue-green {
  background: linear-gradient(270.22deg, rgba($su-color-bay, 0.9) 0.12%, rgba(su-color-bright-palo-alto, 0.8) 99.89%);
}
