/* SOE Specific colors, Stanford/Decanter colors are not defined here */

// SOE Accent Colors
$soe-color-turquoise: #00ECE9;
$soe-color-pink: #FF525C;
$soe-color-orange: #FFBD54;


// colors that will be added to Decanter later and converted to using those values instead later:
$soe-color-teal: #017E7C;
$soe-color-bright-purple: #620059;
$soe-color-medium-blue: #016895; // blue and bright blue are already in use in decanter colors
