@charset "UTF-8";

/* SOE Specific colors, Stanford/Decanter colors are not defined here */

// SOE Accent Colors
$soe-color-turquoise: #00ECE9;
$soe-color-pink: #FF525C;
$soe-color-orange: #FFBD54;


// colors that will be added to Decanter later and converted to using those values instead later:
$su-color-bright-palo-alto: #017E7C;
$su-color-bright-purple: #620059;
$su-color-bay: #016895; // blue and bright blue are already in use in decanter colors


