@charset "UTF-8";

/* set up background classes to be used in various contexts */
@import '../utilities/variables/colors';
@import '../utilities/mixins/gradients';

.bg-pink {
  background-color: $soe-color-pink;
}

.bg-turquoise {
  background-color: $soe-color-turquoise;
}

.bg-orange {
  background-color: $soe-color-orange;
}

// gradients, using utilities/mixins/gradients.scss

// solid gradients
.gradient--solid-purple-lagunita {
  @include gradient--solid-purple-lagunita;
}

.gradient--solid-purple-green {
  @include gradient--solid-purple-green;
}

// transparent gradients
.gradient--transparent-purple-lagunita {
  @include gradient--transparent-purple-lagunita;
}

.gradient--transparent-purple-green {
  @include gradient--transparent-purple-green;
}

.gradient--transparent-purple-red {
  @include gradient--transparent-purple-red;
}

.gradient--transparent-blue-green {
  @include gradient--transparent-blue-green;
}
