/* set up background classes to be used in various contexts */

.bg-pink {
  background-color: $soe-color-pink;
}

.bg-turquoise {
  background-color: $soe-color-turquoise;
}

.bg-orange {
  background-color: $soe-color-orange;
}
