@charset "UTF-8";
// Override Decanter button styles here to use new colors and any other differences

// default button style for this theme is still main red su-button
a {

  &.su-button {

    &.su-link--external {

      &:hover,
      &:focus {
        &::after {
          background-color: $su-color-white;
        }
      }
    }

    &:hover,
    &:focus {
      text-decoration: underline;
      cursor: pointer;
    }

    &.soe-button--turquoise {
      @include soe-button--turquoise;

      &::after {
        background-color: $soe-color-black;
      }
    }

    &.soe-button--pink {
      @include soe-button--pink;

      &::after {
        background-color: $soe-color-black;
      }
    }

    &.soe-button--orange {
      @include soe-button--orange;

      &::after {
        background-color: $soe-color-black;
      }
    }
  }
}

.su-card {
  .su-button {
    @include soe-button--turquoise;

    color: $soe-color-black;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &.su-link--external {
      &::after {
        background-color: $soe-color-black;
      }
    }
  }
}

// Back to all events or news link.
.more-link {
  a {
    @include box-shadow('shallow');
  }
}

// Stories link and button.
.stanford-stories {
  &.stanford-stories-cta-link {
    a {
      &::after {
        background-color: $su-color-white;
      }
    }
  }
}

// Remove the extra external link.
div {
  &.su-link--external {
    &::after {
      display: none;
    }
  }
}


