@charset "UTF-8";
// Override Decanter button styles here to use new colors and any other differences

// default button style for this theme is still main red su-button
.su-button {

  &:hover,
  &:focus {
    text-decoration: underline;
    cursor: pointer;
  }

  &.soe-button--turquoise {
    @include soe-button--turquoise;
  }

  &.soe-button--pink {
    @include soe-button--pink;
  }

  &.soe-button--orange {
    @include soe-button--orange;
  }
}

.su-card {
  .su-button {
    @include soe-button--turquoise;

    color: $soe-color-black;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}



