@charset 'UTF-8';

// Event node page
.event {
  .section-editorial-content {
    color: $su-color-white;

    .su-event-type {
      a {
        color: $su-color-white;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .su-event-headline,
  .su-event-subheadline {
    font-weight: $su-font-black;
  }

  .su-event-sponsor {
    @include modular-spacing('padding', null null 3 null);
  }

  .centered-container {
    .cta {
      .su-button {
        background-color: $soe-color-pink;
      }
    }
  }
}

// Explore More Events block
.stanford-events-more-events-block {
  .views-col {
    h2 {
      a,
      a:link,
      a:visited {
        @include soe-type-sans-base;
        @include soe--link;

        &:hover {
          @include soe--link-hover;
        }

        &::after {
          background: $su-color-black;
          border-bottom: 0;
        }
      }
    }

    .su-date-stacked {
      .su-event-end-date,
      .su-event-start-date {
        font-weight: $su-font-black;
      }
    }
  }

  .more-link {
    a {
      background-color: $soe-color-pink;
    }
  }

  .event_list_item__type {
    a,
    a:link,
    a:visited {
      color: $su-color-black;
      font-weight: $su-font-regular;
      text-decoration: none;
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Event schedule
.su-event-schedule {
  h2 {
    .block__title,
    .grouping-title {
      font-weight: $su-font-black;
    }
  }

  .su-event-schedule__headline {
    a {
      @include soe-type-sans-base;
      @include soe--link;

      color: $su-color-black;

      &:hover {
        @include soe--link-hover;
      }

      &:visited,
      &:link {
        color: $su-color-black;
      }
    }
  }

  .su-event-schedule__time {
    font-weight: $su-font-black;
  }

  .su-person-cta {
    .su-person-cta__content {
      .su-person-cta__name {
        a,
        a:link,
        a:visited {
          color: $su-color-bright-blue;
          font-weight: $su-font-black;
          text-decoration: none;

          &::after {
            background: $su-color-bright-blue;
          }
        }
      }
    }
  }

  .su-event-schedule__location {
    .address {
      margin-left: 20px;

      &::before {
        @include small-paragraph;

        content: "\f3c5";
        color: $su-color-black;
        font-family: 'Font Awesome 5 Free';
        // Need this for the new version of FA. Will go away later.
        font-weight: $su-font-semi-bold;
        position: absolute;
        margin-left: -20px;
      }
    }
  }
}

// Event List pages
.section-events-list--content {
  .main-region {
    @include modular-spacing('padding', 2 null null null);
  }
}

.stanford-events-list-page,
.stanford-events-list-page-filtered,
.su-event-series-items,
.stanford-event-series-list-all,
.stanford-events-past-past-events-block {

  .su-event-list-item {
    .event-list-item__type {
      a {
        font-weight: $su-font-regular;

        &:hover {
          color: $su-color-black;
          text-decoration: underline;
        }
      }
    }

    h2 {
      a,
      a:link,
      a:visited {
        @include soe-type-sans-base;
        @include soe--link;

        color: $su-color-black;

        &:hover {
          @include soe--link-hover;
        }

        &::after {
          background: $su-color-black;
          border-bottom: 0;
        }
      }
    }

    .su-event-list-item__date {
      .su-event-end-date,
      .su-event-start-date {
        font-weight: $su-font-black;
      }
    }
  }

  .js-pager__items {
    .pager__item {
      .button {
        background-color: $soe-color-turquoise;
      }
    }
  }
}


// Event Series page
.stanford-event-series-list-all {
  @include modular-spacing('padding', 2 null null null);
}

.section-event-series--header {
  .node-stanford-event-series-title {
    @include modular-spacing('padding', 6 null null null);

    margin-top: 0;
  }
}
