@charset 'UTF-8';

// Color set up for the alternating.
.react-paragraphs {

  // Image hover animation
  .su-image-cta-paragraph__image {
    .field-media-image {
      transition: transform 1s ease;
      transform: scale(1);
    }
  }

  // Shared between all image-ctas.
  .ptype-stanford-image-cta {
    .su-image-cta-paragraph {
      cursor: pointer;

      &:hover {
        background-color: $su-color-black;

        .su-image-cta-paragraph__image {
          overflow: hidden;

          .field-media-image {
            transform: scale(1.02);
          }
        }

        a {
          color: $su-color-white;
        }

        .su-image-cta-paragraph__link {
          color: $su-color-white;
        }

        .su-image-cta-paragraph__link::after {
          background-color: $su-color-white;
        }
      }
    }
  }


  // Set up for the rows where the color pattern alternates.
  > div:nth-child(odd) {
    > div:first-of-type {
      > div {
        .su-image-cta-paragraph {
          background-color: $soe-color-turquoise;
        }
      }
    }

    > div:nth-of-type(2) {
      > div {
        .su-image-cta-paragraph {
          background-color: $soe-color-pink;
        }
      }
    }

    > div:nth-of-type(3) {
      > div {
        .su-image-cta-paragraph {
          background-color: $soe-color-orange;
        }
      }
    }
  }

  > div:nth-child(even) {
    > div:first-of-type {
      > div {
        .su-image-cta-paragraph {
          background-color: $soe-color-orange;
        }
      }
    }

    > div:nth-of-type(2) {
      > div {
        .su-image-cta-paragraph {
          background-color: $soe-color-turquoise;
        }
      }
    }

    > div:nth-of-type(3) {
      > div {
        .su-image-cta-paragraph {
          background-color: $soe-color-pink;
        }
      }
    }
  }
  // End alternating color set up.
}


// Link hover colors.
.su-image-cta-paragraph {
  overflow: hidden;

  .su-image-cta-paragraph__link {

    a {
      color: $su-color-black;
      text-decoration: none;

      &:hover {
        color: $su-color-black;
      }

      &:focus {
        color: $su-color-black;
      }
    }

    &::after {
      background-color: $su-color-black;

      &:hover {
        background-color: $su-color-black;
      }

      &:focus {
        background-color: $su-color-black;
      }

      &:active {
        background-color: $su-color-black;
      }
    }
  }

}
