@charset 'UTF-8';

// News List
.stanford-news--list {
  .su-news-list {
    .su-news-list__item {

      h2 {
        font-weight: $su-font-black;
      }

      a {
        @include soe--link;

        color: $su-color-black;

        &:hover {
          @include soe--link-hover;
        }

        &::after {
          background-color: $su-color-black;
        }

      }
    }

    .su-news-list__item__date {
      @include modular-spacing('margin', null null 1 null);
    }

    .su-news-list__topics {
      a {
        color: $su-color-bright-blue;
        text-decoration: underline;
      }
    }
  }

  // Load more button.
  .js-pager__items {
    .pager__item {
      .button {
        background-color: $soe-color-turquoise;
        color: $soe-color-black;

        &:hover {
          background-color: $su-color-black;
          color: $su-color-white;
        }
      }
    }
  }
}

.stanford-news-vertical-teaser-term {
  .su-news-vertical-teaser {
    &.su-card {
      .su-link {
        font-weight: $su-font-bold;
      }
    }
  }

  .stanford-news--cards {
    > .more-link {
      a {
        background-color: $soe-color-turquoise;
        color: $soe-color-black;

        &:hover {
          background-color: $su-color-black;
          color: $su-color-white;
        }
      }
    }
  }
}
