@charset 'UTF-8';

// Person List
div[class^='stanford-people-grid'] {

  .views-col {
    word-wrap: break-word;
  }

  // Load more button.
  .js-pager__items {
    .pager__item {
      .button {
        background-color: $soe-color-turquoise;
        color: $soe-color-black;

        &:hover {
          background-color: $su-color-black;
          color: $su-color-white;
        }
      }
    }
  }
}

// Person Node.
.layout--section-person-header {
  &.centered-container {
    @include modular-spacing('padding', 8 null 5 6);

    color: $su-color-white;
    max-width: 100%;
    margin: 0;
    width: 100%;

    @include grid-media-max('sm') {
      .su-quote__media {
        &.flex-2-of-12 {
          .field-media-image {
            margin: unset;
          }
        }
      }
    }

    .node-stanford-person-su-person-short-title {
      display: none;
      margin-top: 0;
    }
  }
}

.content {
  .right-region {
    .node-stanford-person-su-person-telephone,
    .node-stanford-person-su-person-location-name,
    .node-stanford-person-su-person-links {
      .block__title {
        &::before {
          color: $su-color-white;
        }
      }
    }
  }

  .su-person-content {

    .su-link,
    a {
      color: $soe-color-orange;
    }

    .layout--section-person-header {
      color: $su-color-white;
    }

    .su-person-affiliations {
      a {
        background-color: $soe-color-pink;
      }
    }

    .su-person-links {
      a {
        &::after {
          background-color: $su-color-white;
        }
      }
    }

    .su-person-profile-link {
      text-align: center;

      a {
        background-color: $soe-color-turquoise;
        color: $soe-color-black;

        &:hover {
          background-color: $su-color-black;
          color: $su-color-white;
        }

      }
    }

  }
}
